<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="css/register.css">
    <title>Creá tu cuenta</title>
</head>
<body>
    <main>
        <form>
            <label>Nombre y Apellido</label>
                <input type="text" name="nombre y apellido" placeholder="Ejemplo: Juan Perez">
        </form>
    </main>
</body>
</html>