<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="css/register.css">
    <title>Creá tu cuenta</title>
</head>
<body>
    <main>
        <form>
            <label>Nombre y Apellido</label>
                <input type="text" name="nombre y apellido" placeholder="Ejemplo: Juan Perez">
            <label>Nombre de usuario</label>
                <input type="text" name="nombre de usuario" placeholder="Escriba el usuario que desea">                
            <label>Fecha de Nacimiento</label>
                <input type="number" name="fecha de nacimiento" placeholder="Ejemplo: 03/10/2000">
            <label>Domicilio</label>
                <input type="text" name="direccion" placeholder="Ejemplo: Calle 45 #12-45">                                               
        </form>
    </main>
</body>
</html>